<section class="page">
  <div class="login container  h-100 py-4">
    <div class="login-row row mt-3 ">
      <div class="login-col col-12 col-md-10 col-lg-9 col-xl-8">
        <form>

          <div class="login-card card rounded  border-0 mb-4">
            <div class="login-card-body card-body text-center ">

              <div class="login-text">
                <h2>Tao dich vu </h2>
              </div>

              <div class="row">
                <div class="col">
                  <!-- name -->
                  <div class="username">
                    <mat-form-field class="input-username w-100" appearance="outline">
                      <mat-label>
                        Ten dich vu</mat-label>
                      <input matInput type="text" required [(ngModel)]="name" name="txtname">
                    </mat-form-field>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col">
                  <!-- name -->
                  <div class="username">
                    <mat-form-field class="input-password w-100" appearance="outline">
                      <mat-label>Don gia</mat-label>
                      <input matInput type="number" name="txtPrice" [(ngModel)]="price" required>
                    </mat-form-field>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col">
                  <!-- Descriptiuon -->
                  <div class="username">
                    <mat-form-field class="input-username w-100" appearance="outline">
                      <mat-label>
                        Mo ta</mat-label>
                      <textarea matInput type="text" required [(ngModel)]="description"
                        name="txtdescription"></textarea>

                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">

                  <div ngx-dropzone class="upload" [multiple]="false" [accept]="'image/*'" (change)="onSelect($event )"
                    *ngIf="!showReview" required>
                    <ngx-dropzone-label>
                      <div>
                        <i class="fas fa-cloud-upload-alt icon-upload"></i>
                        <header>Drop files here or click to upload *</header>
                      </div>
                    </ngx-dropzone-label>
                  </div>
                  <div class="wrapper" *ngIf="showReview">
                    <ngx-dropzone-image-preview class="image-preview overflow-hidden" ngProjectAs="ngx-dropzone-preview"
                      [file]="file" [removable]="true" (removed)="onRemove(file )">
                    </ngx-dropzone-image-preview>
                    <ngx-dropzone-label ngProjectAs="ngx-dropzone-preview" (removed)="onRemove(file )">
                    </ngx-dropzone-label>
                  </div>

                </div>
              </div>


              <br>
              <hr>
              <h3 class="">Tao lich dat dich vu</h3>
              <div class="row">
                <div class="col justify-content-center text-center d-flex flex-column align-items-center">
                  <!-- name -->
                  <div class="username w-75">
                    <mat-form-field class="input-username w-100" appearance="outline">
                      <mat-label>
                        Thoi gian mot dich vu</mat-label>
                        <mat-select matNativeControl [(ngModel)]="time" name="date">
                          <!-- <mat-option *ngFor="let item of date" [value]="item.value"> {{item.viewValue}}</mat-option> -->


                          <mat-option value="today">10 phut</mat-option>
                          <mat-option value="today">20 phut</mat-option>
                          <mat-option value="today">30 phut</mat-option>
                          <mat-option value="today">40 phut</mat-option>
                          <mat-option value="today">50 phut</mat-option>
                          <mat-option value="today">60 phut</mat-option>

                        </mat-select>
                    </mat-form-field>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col justify-content-center text-center d-flex flex-column align-items-center">
                  <div class="card bg-white rounded overflow-auto w-75">
                    <div class="card-body p-0">
                      <div class="container p-3 vh-50">
                        <div class="row w-100 m-0">
                          <!-- box time -->
                          <div class="col-3 col-xxl-2 col-xl-2 p-1">
                            <div class="rounded-2 border-1 border border-dark">
                              <div
                                class="box-time d-flex align-items-center justify-content-center border-bottom border-4 border-success flex-column py-2">
                                <h4 class="m-0">8:00</h4>
                              </div>
                            </div>
                          </div>
                          <!-- box time -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>









            </div>
          </div>
          <hr>


          <div class="text-center pt-1  pb-1 login-button-div">
            <button class="login-button btn btn-primary btn-block w-100 fa-lg gradient-custom-2 mb-3" mat-raised-button
              type="submit">
              Dang dich vu</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
