<div class="items-content py-4">
  <div class="content-box">
    <div class="content row justify-content-between">
      <div class="col-md-7">
        <div class="img-fluid img-thumbnail rounded justify-content-center d-flex pt-2">
          <img class="  rounded img-fluid " [src]="imageUrl">

        </div>
      </div>
      <div class="col-md-5 pe-1 ">
        <div class="content-left">
          <p class="m-0"></p>
          <span class="first-text">
            {{name}}
          </span>
          <span class="fs-4 price">{{price}} &#8363;</span>
          <span class="second-text mb-3">
            {{description}}
          </span>
          <hr class="w-100">
          <form (ngSubmit)="addToCart()">

            <div class="row w-100 value-items-box ">
              <div class="col-4">
                <mat-form-field class="value-items w-100" appearance="outline">
                  <mat-label>Số lượng: </mat-label>
                  <input matInput value="0" name="amount" type="number"  max="{{quantity}}" [(ngModel)]="amount"
                    minlength="1" maxlength="7" min="1"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                </mat-form-field>
              </div>

              <div class="col-8 pe-0">
                <button mat-raised-button color="primary" type="submit"> Thêm Vào Giỏ Hàng</button>
              </div>
            </div>
            <div class="row w-100 value-item-box">
              <div class="col">Kho: {{quantity}}</div>
            </div>
          </form>



        </div>
      </div>


    </div>
  </div>
</div>


<div class="shop cotainer">
  <div class="shop-content w-100 pt-4">
    <div class="row w-100">
      <div class="col w-100">
        <div class="content-title align-items-center pb-3 d-flex flex-column">
          <span class="title-text fs-2 text-center fw-bold gradient-text-1">SẢN PHẨM</span>

          <img src="/assets/images/line.png" alt="">
        </div>
        <div class="content-items container">
          <div class="row">
           <!-- items -->
          <a *ngFor="let item of valueProduct" routerLink="/Shop/Items" [title]="item.name" (click)="onItemSelector(item.name)"
          class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
          <div class="card p-2 ">
            <img [src]="item.imageUrl"
              class="card-img-top item-img">
            <h5 class="card-title text-center fw-bold text-body text-capitalize item-text "> {{item.name}}
            </h5>
            <h6 class="card-text text-center ">{{item.price | currency: 'VND'}} </h6>
          </div>
        </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
