.page-body{
  min-height: 79vh;
  background: #eecda3;
  background: -webkit-linear-gradient(to right, #eecda3, #ef629f);
  background: linear-gradient(to right, #eecda3, #ef629f);
}

.fs-14{
  font-size:14px
}
